In [92]:
import pandas as pd
import numpy as np
from pprint import pprint as pp
import datetime
import re
import math
abg = pd.read_csv('/tmp/out.csv', dtype={"match-scores-csv": str})

abg.sort_values("match-completed-at", inplace=True)
abg.sort_values("player1-name", inplace=True)

#abg.rename(columns = {'player1-display-name-with-invitation-email-address':'player1-name','player2-display-name-with-invitation-email-address': 'player2-name'}, inplace=True)

f = abg["match-scores-csv"].apply(lambda x: pd.Series(str(x).split("-")))
abg["player1-score"] = f[0]
abg["player1-score"] = pd.to_numeric(abg["player1-score"], errors='coerce')
abg["player2-score"] = f[1]
abg["player2-score"] = pd.to_numeric(abg["player2-score"], errors='coerce')

abg["match-length"] = abg[["player1-score", "player2-score"]].apply(max, axis=1)
#abg["player1-win_chance"] = 


#elo = pd.DataFrame({}, columns=['player1-name', 'player2-name', 'player1-id', 'player2-id'])


p1 = abg.ix[:,['player1-name']].rename(columns={"player1-name": "player_name"})
p2 = abg.ix[:,['player2-name']].rename(columns={"player2-name": "player_name"})

p1.reset_index(inplace=True,drop=True)
p2.reset_index(inplace=True,drop=True)


players = p1.append(p2)
players.drop_duplicates(inplace=True)

players["ELO"] = 1500
players["last_updated"] = None
players["last_updated"] = pd.to_datetime(players["last_updated"])
#players.set_index('player_name', drop=False, inplace=True)
#players.reindex()

players.to_csv(open("/tmp/players.csv", "w"))


#elo.unique["player_id"].unique()
#elo.head()





#abg.head(40)

In [100]:

##Elo calc


class ELO:
    
    def get_win_chance(elo1, elo2, length):
        d = elo1 - elo2
        exp = -1*(elo1-elo2) * np.sqrt(length)/2000
        return 1/(1+10**exp)
        
    def compute_change(elo_winner, elo_loser, length):
        
        points = 4 * np.sqrt(length)
        winner_change = (1 - ELO.get_win_chance(elo_winner, elo_loser, length)) * points
        loser_change = points * ELO.get_win_chance(elo_loser, elo_winner, length)
        return (winner_change, loser_change * -1)


def set_elo(row):
    
    try:
        length = row["match-length"]
    except ValueError:
        print("I am afraid {} is not a number".format(row["match-length"]))
        return pd.Series([0,0])
    
    if (math.isnan(length)):
        print("I am afraid {} is not a number".format(row["match-length"]))
        return pd.Series([0,0])
    
    
    _players = {"player1": {}, "player2": {}}
    for k in row.keys():
        m = re.search("(player[1-2])-([a-zA-Z0-9\-_]+)", k)
        if (m):
            _players[m.group(1)][m.group(2)] = row[k]
    player1 = _players["player1"]
    player2 = _players["player2"]
    
    #figure out who is the winner
   
    if player1["score"] > player2["score"]:
        winner = player1
        loser = player2
    else:
        winner = player2
        loser = player1

   
    winner["elo"] = find_by_name(winner["name"])["ELO"]
    loser["elo"] = find_by_name(loser["name"])["ELO"]
    
    elos = ELO.compute_change(int(winner["elo"]),int(loser["elo"]), length)
    
    change_player_elo(winner["name"], winner["elo"]+elos[0], row["match-completed-at"])
    change_player_elo(loser["name"], loser["elo"]+elos[1], row["match-completed-at"])

#     pp(elos)
#     pp(length)
#     pp(winner["elo"])
#     pp(loser["elo"])
    return pd.Series([elos[0],elos[1]])

def change_player_elo(player_name, new_elo, date):
    players.loc[find_by_name(player_name).index,"ELO"] = new_elo
    #players.loc[find_by_name(player_name).index,"last_updated"] = date

    
def find_by_name(name):
    return players[players['player_name'].str.contains(name)]
    
## Elo calc
abg["winner_ELO"] = 1500
abg["loser_ELO"] = 1500
abg['winchance'] = .5
abg["winner_ELO_change"] = 0
abg["loser_ELO_change"] = 0

abg[['winner_ELO_change','loser_ELO_change']] = abg.apply(set_elo, axis=1)

players.sort_values("ELO", inplace=True, ascending=False)
players.head(100)

I am afraid nan is not a number
I am afraid nan is not a number
I am afraid nan is not a number
I am afraid nan is not a number
I am afraid nan is not a number

                   player_name          ELO last_updated
783              Nathan Parker  1641.588849          NaT
861               Paul Whitter  1638.982752          NaT
206             Chirita Iulian  1629.933837          NaT
91                  Ammar King  1618.934778          NaT
391                Jacob Singh  1611.367674          NaT
110              Anita Marholm  1594.319802          NaT
39                 Alan Draper  1587.888849          NaT
1028            Scooter Nelson  1584.101533          NaT
468              Julia Hayward  1582.806756          NaT
506                 Lisa Hewer  1581.596377          NaT
347              George Costea  1576.733454          NaT
1107        William M Akin III  1571.432305          NaT
768                Mike Murton  1568.170597          NaT
376              Ivan Couchman  1561.852958          NaT
939          Rachel Lachapelle  1557.821968          NaT
975                Ron Carkeet  1544.038860          NaT
524              Lorenda James  1541.078194          NaT
432             Jay O'Sullivan  1537.402474          NaT
561               Maggie Smith  1534.307545          NaT
737              Mike Michaels  1533.365395          NaT
411             Jay O Sullivan  1531.755973          NaT
474               Julie Hillis  1528.831031          NaT
559               Mac McFadden  1527.693636          NaT
454               Jeff Proctor  1525.440949          NaT
478              János Csendes  1524.842995          NaT
951         Richard Furborough  1523.013315          NaT
343              Gary Thompson  1518.661798          NaT
676             Michael Mesich  1517.687063          NaT
402              Janos Csendes  1516.856876          NaT
949             Rich McQuillan  1515.708793          NaT
...                        ...          ...          ...
500            Linda Hernandez  1483.090426          NaT
165             Barry J Miller  1483.026418          NaT
856             Oli Voiculescu  1482.938486          NaT
826                    Nick BG  1481.985471          NaT
491              Kelly Kennett  1479.232054          NaT
253                Dato Madrid  1477.114561          NaT
260             Lisa Cosseboom  1475.088053          NaT
1059          Squire Trelawney  1472.311134          NaT
694              Michael Wells  1470.942858          NaT
290             Dora Kollitsis  1466.955410          NaT
456           Joakim Roggentin  1463.567090          NaT
212            Chloe Middleton  1458.721130          NaT
846                 Nuno Assis  1457.196577          NaT
630                Matic Kovac  1453.078196          NaT
657             Meghan Brandon  1452.781474          NaT
434                   Jay Sull  1449.109730          NaT
97                Andrew Hamer  1448.421438          NaT
1044               Scott Butki  1437.616277          NaT
462                 John Casey  1426.159513          NaT
1066              Terry Garcia  1422.077292          NaT
219            Daniela Faragau  1416.554624          NaT
352               Heather Rose  1416.309773          NaT
126             Ariel Christen  1412.376903          NaT
438   Jeannette Hanna Hankache  1411.601542          NaT
172                   Bird Nat  1406.715305          NaT
65      Alonso Salazar Pastene  1404.508121          NaT
0                  Ahmed Sayed  1389.906872          NaT
35                Aileen Lynch  1386.912132          NaT
701          Mihaela Horodinca  1375.854636          NaT
182            Cas Saint Denis  1321.766830          NaT

[91 rows x 3 columns]

In [101]:
find_by_name("Jay")

        player_name          ELO last_updated
432  Jay O'Sullivan  1537.402474          NaT
411  Jay O Sullivan  1531.755973          NaT
434        Jay Sull  1449.109730          NaT